.product-list {
    display: flex;
    flex: 1;
    flex-direction: column;

    .filter-wrapper {
        width: 70%;
        margin: 15px auto 15px auto;
        padding: 20px;
        border: 1px solid #127369;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        background-color: white;

        input {
            margin: 0 5px 0 5px;

            flex: 1;
        }
    }

    .list-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
}