.product-list {
    margin: auto;

    display: flex;
    flex: 1;
    flex-direction: column;

    .filter-wrapper {
        display: flex;
    }

    .list-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
}