html, body {
	width: 100%;
	height: 100%;

	margin: 0;

	display: flex;
}

#root {
	width: 100%;
	height: 100%;

	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

// #0D65D9
// #1E6FD9
// #5C9DF2
// #94BDF2
// #F2F2F2