html, body {
	width: 100%;
	height: 100%;

	margin: 0;

	display: flex;
}

#root {
	width: 100%;
	height: 100%;

	margin: 0;

    background-color: whitesmoke;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

// #127369
// #10403B
// #8AA6A3
// #4C5958
// #BFBFBF